html {
  background-color: #c9b5ab;
  color: #222;
  line-height: 1.5;
  border-width: 608px;
  height: 1635px;
}

header {
  font-family: "PT Sans", sans-serif;
  font-size: .8rem;
  font-weight: bold;
  color: #3f1622;
}

body {
  line-height: 1.5;
}

a {
  font-family: "PT Sans", sans-serif;
  color: #8f2440;
  font-size: 1.25rem;
  text-decoration: none;
}

a:hover {
  color: #3f1622;
  text-decoration: underline;
}

img {
  width: 100%;
}

figcaption {
  font-family: "PT Serif", serif;
  font-style: italic;
  text-align: center;
  font-weight: normal;
}

body, article {
  font-family: "PT Serif", serif;
  line-height: 1.5;
}

h2 {
  font-family: "PT Sans", sans-serif;
  font-size: 1.5rem;
  color: #3f1622;
}

article > p:first-child {
  font-family: "PT Serif", serif;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.5;
}

blockquote > p:first-child {
  font-family: "PT Serif", serif;
  font-size: 1.5rem;
  font-style: italic;
}

blockquote > p:nth-child(2) {
  font-size: .8rem;
}

ol {
  font-family: "PT Serif", serif;
  list-style-type: lower-greek;
}

nav > ol {
  font-family: "PT Sans", sans-serif;
  font-size: 1.25rem;
  color: #8f2440;
  list-style-type: none;
  text-decoration: none;
}

dl > dt:first-child {
  font-style: italic;
  margin-bottom: 10px;
}

dd ~ dt {
  font-family: "PT Serif", serif;
  font-weight: bold;
}

ul {
  list-style-type: circle;
  font-size: .8rem;
}

footer a {
  font-family: "PT Serif", serif;
  font-weight: bold;
  font-size: .8rem;
}
