html {
  background-color: #c9b5ab;
  line-height: 1.5;
}

header {
  font-family: "PT Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: #3f1622;
}

a:link {
  color: #8f2440;
  text-decoration: none;
}

a:hover {
  color: #3f1622;
  text-decoration: underline;
}

figcaption {
  font-family: "PT Serif", serif;
  font-style: italic;
  text-align: center;
}

article {
  font-family: "PT Serif", serif;
}

h2 {
  font-family: "PT Sans", sans-serif;
  color: #3f1622;
}

article > p:first-child {
  font-size: 1.125rem;
  font-weight: bold;
}

blockquote {
  font-size: 1.5rem;
  font-style: italic;
  font-weight: normal;
}

ol {
  list-style-type: lower-greek;
}

nav > ol {
  font-family: "PT Sans", sans-serif;
  font-size: 1.25rem;
  color: #8f2440;
  list-style-type: none;
  text-decoration: none;
}
