html {
  background-color: #c9b5ab;
  line-height: 1.5;
}

header {
  font-family: "PT Sans", sans-serif;
  font-size: .8rem;
  font-weight: bold;
  color: #3f1622;
}

a {
  color: #8f2440;
  text-decoration: none;
  font-size: 1.25rem;
}

a:hover {
  color: #3f1622;
  text-decoration: underline;
}

img {
  width: 495px;
}

figcaption {
  font-family: "PT Serif", serif;
  font-style: italic;
  text-align: center;
}

body {
  font-family: "PT Serif", serif;
}

h2 {
  font-family: "PT Sans", sans-serif;
  color: #3f1622;
}

article > p:first-child {
  font-size: 1.25rem;
  font-weight: bold;
}

blockquote > p:first-child {
  font-size: 1.5rem;
  font-style: italic;
  font-weight: normal;
}

blockquote > p:nth-child(2) {
  font-size: .8rem;
}

ol {
  list-style-type: lower-greek;
}

nav > ol {
  font-family: "PT Sans", sans-serif;
  font-size: 1.25rem;
  color: #8f2440;
  list-style-type: none;
  text-decoration: none;
}

dl > dd:first-child, dt:first-child {
  font-style: italic;
}

ul {
  list-style-type: circle;
}
